[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
*.csproj
*.sln
*.unityproj
*.user
*.userprefs
*.booproj
*.svd
*.mdb
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
local.properties
.gradle/
.AppleDouble
.LSOverride
Thumbs.db
